div.main_header {
    color: beige;
    background: #8b89dbcc;
    text-align: center;
}

small.main_header{
    color: #524453;
}

h1.main_header {
    font-size: 22px;
    margin-top: 10px;
}

#btn_vds {
    margin: 0px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

h3.o_content_title {
    display: inline-block;
}

p.img_center {
    text-align: center;
}

div.o_navbar {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

div.o_content {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

div.panel-body{
    font-size: 16px;
    padding: 7px;
}

div.panel_content {
    padding: 15px;
}

#context_menu {
    padding: 0px 10px 0px 20px;
}

.nav-stacked li a {
    padding-bottom: 2px;
    padding-top: 2px;
}

.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

div.main_footer {
    color: beige;
    background: #8b89dbcc;
    text-align: center;
}

/* index styles */

p.quote_author {
    text-align: right;
}