div.main_header {
    color: beige;
    background: #8b89dbcc;
    text-align: center;
}

small.main_header{
    color: #524453;
}

h1.main_header {
    font-size: 22px;
    margin-top: 10px;
}

p.img_center {
    text-align: center;
}

div.o_content {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

#context_menu {
    padding: 0px 10px 0px 20px;
}

.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

div.main_footer {
    color: beige;
    background: #8b89dbcc;
    text-align: center;
}
